.keyboard-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  margin-right: 30vw;
  gap: 10px;
}

.keyboard-row-letter {
  aspect-ratio: 1 / 1;
}

.keyboard-row-letter,
.keyboard-row-button {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
  align-items: center;
  border: 2px solid #616161;
  border-radius: 2px;
  padding: 10px;
  height: 16px;
  font-size: 14px;
  background-color: #616161;
  color: #ffffff;
  font-weight: 600;
}
