.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.letter {
  height: 64px;
  width: 64px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}